<!DOCTYPE html>
<html lang="fr-FR">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PartielAWS</title>
		<link rel="stylesheet" href="{{ url_for( 'static' , filename = 'css/bootstrap.min.css' ) }}">
		<link rel="stylesheet" href="{{ url_for( 'static' , filename = 'css/css.css' ) }}" >
		<script type="text/javascript" src="{{ url_for( 'static' , filename = 'js/jquery-1.11.2.js' ) }}"></script>
		<script type="text/javascript" src="{{ url_for( 'static' , filename = 'js/bootstrap.min.js' ) }}"></script>
	</head>
	<body style="background-image: url({{ url_for( 'static' , filename = 'media/background.jpg' ) }}">
            <div style="text-align: center;" class="container-fluid">
                <div style="width: 30%; border: 1px solid black; background-color: #efefef; margin: auto;">
                    <h3 style="font-weight:bold;text-decoration:underline;">Ajout de matière</h3>
                    <br/>
                    <form role="form" action="/ajoutMatiere" method="POST">
                        <div class="form-group">
                            <label for="matiere">Saisissez les informations du cours</label>
                            <input required type="text" class="form-control" name="nom" id="nom" placeholder="Saisir la matière"/>
                            <br/>
                            <input required type="text" class="form-control" name="description" id="description" placeholder="Saisir la description"/>
                            <br/>
                            <input required type="number" class="form-control" name="heures" id="heures" placeholder="Saisir le nombre d'heures"/>
                        </div>
                        <button type="submit" class="btn btn-warning">Charger dans RDS</button>
                    </form>
                    <br/>
                    <br/>
                </div>
            </div>
    </body>
</html>